*{margin: 0px; padding: 0px; border: none; outline: none;}

body{
    background-color: #222d32 !important;
}
.sg-header{
    width: 100%;
    height: 50px;
    background-color: #00B5AD !important;
    position: fixed;
    z-index: 4;
}   
.sg-header-logo{
    width: 230px;
    height: 50px;
    background-color: #019b94;
    padding-top: 7px;
    text-align: center;
    float: left;
}
.sg-header-logo-responsive{
    display: none;
    float: left;
}
.sg-header-logout{
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    width: 40px;
    height: 41px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #019b94;
    border-radius: 100px;
}
.sg-header-logout:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #eee;
    color: #ef3737;
    transform: rotate(-360deg);
    transition: all linear 0.5s;
}
.logout-icon{
    padding-left: 3.5px;
    padding-top: 0px;
}
.sidenav{
    width: 230px;
    height: 100%;
    background-color: #222d32;
    color: #ffffff !important;
    padding-top: 50px; 
    overflow-y: scroll;
    position: fixed;
    float: left;
    z-index: 3;
}
.sidenav-responsive, .menu-responsive{
    display: none;
}
.active-user{
    width: 100%;
    height: 70px;
}
.active-user-data{
    padding-left: 18px;
    padding-top: 9px;
}
.active-user-image{
    float: left;
}
.active-user-data-info{
    padding-top: 6px;
    padding-left: 64px;
}
.active-user-data-info span{
    font-weight: 900;
    text-transform: uppercase;
}
.user-status{
    width: auto;
}
.user-status p{
    padding-left: 15px;
    padding-top: 1px;
    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}
.online-icon{
    margin-top: 5px;
    width: 10px;
    height: 10px;
    background-color: #31d64f;
    border-radius: 100px;
    float: left;
}
.initial-menu{
    width: auto;
    height: 40px;
    background-color: #161d21;
    cursor: pointer;
}
.initial-menu p{
    padding-top: 10px;
    padding-left: 18px;
    color: rgba(255, 255, 255, 0.5);
}
.menu-accordion{
    height: auto;
}
.accordion-button{
    font-family: 'Lato', sans-serif;
    background-color: #1a2226;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    height: 50px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
}
.accordion-button:hover, .accordion-button:focus{
    color: rgba(255, 255, 255, 0.9);
    border-left: 4px solid #019b94;
    transition: all linear 0.4s;
}
.accordion-button:after {
    content: '\f053';
    font-family: 'Font Awesome 5 Free';
    font-size: 10px;
    font-weight: 900;
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    float: right;
    margin-left: 5px;
    transition: all 1s;
}
.ativo:after{
    content: '\f053';
    transform: rotate(-90deg);
}
.accordion-item{
    width: 100%;
    height: 45px;
    background-color: #13191c;
    color: rgba(255, 255, 255, 0.4);
    text-align: left;
    cursor: pointer;
}
.accordion-item:hover{
    color: rgba(255, 255, 255, 0.9);
}
.panel {
    padding-left: 20px;
    display: none;
    background-color: #13191c;
    overflow: hidden;
}
.menu-responsive{
    display: none;
}
.menu-item-responsive:hover .dropdown-content {
    display: inline;
}
.dropdown-content {
    margin-top: -17px;
    display: none;
    position: absolute;
    margin-left: 21px;
    background-color: #13191c;
    min-width: 230px;
    z-index: 1;
}
.dropdown-content-item{
    color: rgba(255, 255, 255, 0.4);
    padding: 19px 20px;
    height: 60px;
    text-decoration: none;
    display: block;
}
.dropdown-content-item:hover {
    color: rgba(255, 255, 255, 0.9);
}
.dropdown-content-item:before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #222d32; 
    position: absolute;
    top: 16px;
    left: -12px;
}
.main-content{
    width: auto;
    height: auto;
    margin-left: 230px;
    padding-top: 50px;
    background-color: #FFFFFF !important;
}
.bread{
    width: 100%;
    height: 30px;
    background-color: #F4F4F4;
    padding: 8px;
}
.sg-dashboard{
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.cadastro-pacientes{
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.cadastro-dentistas{
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.cadastro-funcionarios{
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.sg-footer{
    width: 100%;
    height: 50px;
    background-color: #eee;
}
@media only screen and (max-width: 768px){
    .sg-header-logo, .sidenav, .menu-accordion, .active-user, .initial-menu, .panel, .accordion-item, .accordion-button{
        display: none;
    }
    .sg-header-logo-responsive{
        display: inline-block;
        text-align: center;
        padding-top: 5px;
        width: 80px;
        height: 50px;
        background-color: #019b94;
    }
    .sidenav-responsive{
        display: inline-block;
        width: 80px;
        height: auto;
        background-color: #222d32;
        color: #ffffff !important;
        padding-top: 50px;
        float: left;
    }
    .menu-responsive{
        display: inline-block;
    }
    .menu-item-responsive{
        width: 80px;
        height: 60px;
        padding-top: 16px;
        padding-left: 22px;
        border-top: thin solid #1d282d;
        color: rgba(255, 255, 255, 0.4);
    }
    .menu-item-responsive:hover{
        background-color: #13191c;
        cursor: pointer;
        transition: 0.5s linear;
        color: rgba(255, 255, 255, 0.9);
    }
    .first-dropdown-content{
        height: 60.5px;
        padding: 18px;
        background-color: #222d32;
        font-weight: 900;
        font-size: 17px;
        color: rgba(255, 255, 255, 0.9) !important;
        cursor: default;
    }
    .main-content{
        margin-left: 80px;
        padding-top: 50px;
    }
}