*{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
body{
    background-color: #f4f4f4 !important;
    width: auto;
}
.alerts{
    width: auto;
    height: 50px;
}
.page-center{
    width: 380px;
    height: auto;
    margin: 0 auto;
    margin-top: 8%;
    border: thin solid #dbdcdd;
    box-shadow: 1px 2px 15px 1px #d6d6d6;
    background-color: #ffffff;
    position: relative;
}
.login-title{
    width: auto;
    height: 50px;
    padding-top: 30px;
    text-align: center;
}
.login{
    width: 320px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0 auto;
}
@media only screen and (max-width: 768px){
    .page-center{
        margin-top: 0%;
        width: 480px;
    }
    .login{
        width: 420px;
    }
}
@media only screen and (max-width: 600px){
    .page-center{
        width: 300px;
        margin-top: 5%;
    }
    .login{
        width: 260px;
    }
}